<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
<div>
    <form action="/register" method="post" >
        <label>
            Username:
            <input
                    type="text"
                    name="username"
                    placeholder="Enter your name"
            >
        </label>
        <label>
            Email:
            <input
                    type="Email"
                    name="email"
                    placeholder="Enter your email"
            >
            <!--to get the input file you have pass 'name' field on it-->
        </label>
        <label>
            Password:
            <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
            >
        </label>

        <button type="submit">Register Form</button>
    </form>
</div>
</body>

</html>