<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect the html </title>
</head>

<body>
    <h1>Connect the HTML file with the backend </h1>
</body>

</html>